
.post-img{
  height: 70px;
  width: 70px;
}
.container{
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  width: calc(100vw);
  background-color: aqua;
  overflow-x: scroll;
  
}
.news-head{
  text-align: center;
  font-size: 3em;
  background-color: #fff;
}
.form-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
.form-box{
  border-radius: 5px;
  box-shadow: 1px 4px 5px black;
  /* display: flex;
  flex-direction: column; */
}
.search-inp{
  border: none;
  background-color: transparent;
  width: 250px;
}
.post-time{
  color: gray;
}